@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cousine", monospace;
  color: #353533;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background-color: #dfe0e2;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: row;
  overflow: hidden;
}
body .sidePanel {
  height: 100%;
  width: 200px;
  background-image: url("../assets/CMonkey_render/Cmonkey_Back_texture_v02.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
body .sidePanel #navBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 30px;
}
body .sidePanel #navBar #openResponsiveMenu {
  display: none;
}
body .sidePanel #navBar .responsiveMenu {
  display: none;
}
body .sidePanel #navBar .navButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 40px;
  flex-direction: column;
}
body .sidePanel #navBar .navButtons .button {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin: 2px 0;
}
body .sidePanel #navBar .navButtons .button img {
  width: 175px;
  margin: 0 5px;
}
body .sidePanel a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  background-image: url("../assets/CMonkey_render/Cmonkey_textBox_top_in_box_v02.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  padding: 20px;
}
.description p {
  margin: 10px 0;
}

.content {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  overflow: auto;
}
.content .projectsMenu {
  display: none;
}
.content .projectDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.content .projectDescription img {
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 150px;
}
.content #header {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  background-image: url("../assets/CMonkey_render/Cmonkey_Header_Llustration_v02.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.content .responsiveHeader {
  display: none;
}
.content .collectiveDescription {
  height: 100%;
  width: 50%;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 100%;
}
main .CMProject {
  width: 100%;
  padding: 20px;
  background-image: url("../assets/CMonkey_render/Cmonkey_Main_box_v02.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
main .CMProject .projectDescription {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
}
main .CMProject iframe {
  width: 90%;
  max-width: 600px;
  background-color: black;
  margin: 40px 0;
}
main .CMProject .projectDetails {
  width: 100%;
  margin-top: 40px;
  background-image: url("../assets/CMonkey_render/Cmonkey_textBox_In_box_v02.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 20px;
}
main .CMProject .projectDetails h3,
main .CMProject .projectDetails p {
  color: #bfbfbf;
  margin: 10px 0;
}
main .CMProject .projectPictures {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
main .CMProject .projectPictures .projectPicture {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px;
}
main .CMProject .profilePicture {
  width: 600px;
  position: absolute;
  bottom: 0;
}

#contact {
  width: 100%;
  background-image: url("../assets/Frontpage_Renders/Button_V02.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact .firstRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#contact .firstRow .contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#contact .firstRow .socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#contact .firstRow .socialMedia img {
  width: 50px;
}
#contact .secondRow {
  font-size: 12px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact .secondRow a {
  color: black;
}

@media screen and (max-width: 1024px) {
  body {
    flex-direction: column;
    height: unset;
    overflow: unset;
  }
  body .sidePanel {
    width: 100%;
    height: unset;
    padding: 0 20px;
    background-image: unset;
    box-sizing: border-box;
  }
  body .sidePanel .projectButton {
    display: none;
  }
  body .sidePanel #navBar {
    flex-direction: row;
    padding-top: 20px;
    margin-bottom: 0;
  }
  body .sidePanel #navBar #openResponsiveMenu {
    display: unset;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  body .sidePanel #navBar #openResponsiveMenu img {
    width: 100px;
  }
  body .sidePanel #navBar .responsiveMenu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #dfe0e2;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 4;
  }
  body .sidePanel #navBar .responsiveMenu .navButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    margin-top: 40px;
  }
  body .sidePanel #navBar .responsiveMenu .navButtons .button {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }
  body .sidePanel #navBar .responsiveMenu .navButtons .button img {
    width: 250px;
    margin: 0 5px;
  }
  body .sidePanel #navBar .responsiveMenu #closeResponsiveMenu {
    position: absolute;
    top: 24px;
    left: 20px;
    display: unset;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  body .sidePanel #navBar .responsiveMenu #closeResponsiveMenu img {
    width: 100px;
  }
  body .sidePanel #navBar .navButtons {
    display: none;
  }
  body .sidePanel a {
    width: unset;
  }
  body .content {
    max-height: unset;
    overflow: unset;
    overflow-x: hidden;
  }
  body .content #header {
    display: none;
  }
  body .content .responsiveHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body .content .responsiveHeader .description {
    margin: 20px 0;
    width: 90%;
  }
  body .content .projectsMenu {
    width: 100%;
    padding: 20px 0;
    background-image: url("../assets/Frontpage_Renders/Button_V02.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  body main .CMProject {
    width: 90%;
    margin: 20px;
  }
  body main .CMProject .projectDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  body main .CMProject .projectPictures {
    margin-bottom: 200px;
  }
}/*# sourceMappingURL=collectiveStyles.css.map */